@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@200&display=swap');
/* Fade in animation */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Color and font variables overriding Materialize */
:root {
  --off-white: rgb(222, 228, 223);
  --spotify-green: hsl(141, 73%, 42%);
  --light-purple: hsl(300, 46%, 75%);
  --error: hsl(0, 81%, 61%);
}

body {
  background-color: black;
  position: relative;
  min-height: 95vh;
}

.container {
  max-width: 90%;
  width: 90%;
  min-height: 90vh;
}

#logo img {
  padding-top: 20px;
}

#login {
  margin-top: 1rem;
}

/* *SPOTIFY BUTTON (overriding Materialize) */
.btn-large {
  height: 100px;
  width: 400px;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: 'Rokkitt', serif;
}

#spotify {
  background-color: var(--spotify-green);
  font-size: 2rem;
  font-weight: bold;
}

/* *LANDING PAGE TEXT */
.intro-content {
  color: var(--off-white);
  padding: 2rem;
}

/* *DROP-DOWN STYLING */
#months-select,
#artists-select,
#region-select {
  display: flex;
  flex-wrap: wrap;
}

#options{
  padding: 15px;
  margin-top: 3rem;
}

.select-column .label {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  padding: 1rem 6rem;
  background: var(--spotify-green); 
  color: var(--off-white);
  font-family: 'Rokkitt', serif;
  font-weight: bold;
  border-radius: 25px;
}

.artists-select,
.months-select,
.regions-select {
  margin-top: 3rem;
  height: 4rem;
  color: var(--off-white);
  background:  black;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

/* *CARD STYLING */

#card-container{
  padding: 15px;
}

.card {
  color: black;
  border: 2px solid var(--light-green);
  transition: all 0.5s;
  border-radius: 20px;
}

.card .card-image img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.ticket-link {
  transition: 0.2s;
  background: var(--black);
  border: 4px solid var(--off-white);
  color: white;
  font-family: 'Rokkitt', serif;
  padding: 15px;
  background: black;
  border-radius: 3px;
  font-size: 2rem;
  display: none;
}

/* HIDING CARD ELEMENTS AND SHOWING TICKET LINK */
.card:hover {
  transition: 0.5s;
  filter: brightness(70%);
}

.card:hover .ticket-link {
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.card:hover .ticket-link {
  transition: ease-in 0.5s;
  filter: opacity(2);
  display: inline;
}

footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 60px;
  padding-top: 50px;
}

.footer-text {
  font-family: 'Rokkitt', serif;
  font-size: 3rem;
  font-weight: bold;
  color: var(--spotify-green);
  margin: 0px;
}

.footer-span {
  color: var(--off-white);
}

.everywhere {
  color: var(--spotify-green);
}

/* *MODAL STYLING */

.entire-modal {
  opacity: 0.7;
}

.modal-close {
  font-size: 1.3rem;
  background: var(--light-green);
  margin-right: 2rem;
}

.modal-texts {
  color: var(--error);
}

/* *HIDDEN UTILITY CLASS */
.hidden {
  display: none;
}