#spotify{
    background-color: #1db954;
    font-weight: bold;
}

#months-select,
#artists-select{
    display: flex;
}

.options{
    display: flex;
    justify-content: space-evenly;
}

.options label{
    display: flex;
    align-items: center;
    font-size: 30px;
    padding: 0px 20px;
}

.hidden{
    display: none;
}