@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap");

/* Fade in animation */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Color and font variables overriding Materialize */
:root {
  --off-white: rgb(222, 228, 223);
  --gray: rgb(201, 198, 198);
  --light-green: hsl(120, 42%, 75%);
  --spotify-green: hsl(141, 73%, 42%);
  --black-green: hsl(143, 85%, 8%);
  --black: rgb(6, 7, 7);
  --light-purple: hsl(300, 46%, 75%);
  --error: hsl(0, 81%, 61%);
  --font-gothic: "Gothic A1", Arial, sans-serif;
  --font-secondary: "Catamaran";
}

body {
  font-family: var(--font-gothic);
  background-color: var(--black);
}

.container {
  max-width: 90%;
  width: 90%;
}
/* *HIDDEN UTILITY CLASS */
.hidden {
  display: none;
}

.logo img {
  width: 40%;
  padding-top: 20px;
}

#login {
  margin-top: 1rem;
}

/* *SPOTIFY BUTTON (overriding Materialize) */
.btn-large {
  height: 100px;
  width: 400px;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#spotify {
  background-color: var(--spotify-green);
  font-family: var(--font-gothic);
  font-size: 2rem;
  font-weight: bold;
}

/* *LANDING PAGE TEXT */
.welcome-text {
  color: var(--off-white);
  font-weight: bold;
  font-size: 4rem;
}

.intro-content {
  color: var(--off-white);
  padding: 2rem;
}

/* *DROP-DOWN PAGE WELCOME TEXT STYLING */

.showtime-text {
  margin-top: 2rem;
  font-size: 3rem;
  font-family: var(--font-secondary);
  color: var(--black-green);
  text-decoration: underline;
  font-weight: bold;
}

.spotify-username {
  font-family: var(--font-secondary);
  color: var(--spotify-green);
  font-weight: bold;
}

.select-instruct {
  background: var(--light-green);
  color: var(--black-green);
  border-radius: 5px;
  padding: 2rem;
  margin-top: 3rem;
  font-size: 1.5rem;
}

/* *DROP-DOWN STYLING */
#months-select,
#artists-select,
#region-select {
  display: flex;
  flex-wrap: wrap;
}

#options {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.label {
  align-items: center;
  text-decoration: underline;
  font-size: 2rem;
  padding: 1rem 6rem;
  background: rgb(165, 218, 165);
  color: var(--black-green);
  font-family: var(--font-secondary);
  font-weight: bold;
  border-radius: 25px;
}

.artists-select,
.months-select,
.regions-select {
  margin-top: 3rem;
  height: 4rem;
  background: var(--light-purple);
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

/* *CARD STYLING */
#card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
}

.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  text-align: center;
  align-items: center;
  color: var(--black-green);
  border: 2px solid var(--light-green);
  background-size: cover;
  transition: all 0.5s;
}

.ticket-link {
  transition: 0.2s;
  background: var(--black);
  border: 4px solid var(--off-white);
  color: var(--off-white);
  font-family: var(--font-gothic);
  padding: 15px;
  background: black;
  border-radius: 3px;
  font-size: 1.4rem;
  display: none;
}

/* HIDING CARD ELEMENTS AND SHOWING TICKET LINK */
.card:hover {
  filter: brightness(70%);
}

.card:hover .card-content h5 {
  display: none;
}

.card:hover .card-content .ticket-link {
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.card:hover .ticket-link {
  transition: ease-in 0.5s;
  filter: opacity(2);
  display: inline;
}

.card .card-content {
  padding: 0;
}

.card-content h4 {
  color: var(--black-green);
  background: var(--light-green);
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}

.card-content h5 {
  background: var(--gray);
  font-weight: bold;
  font-family: var(--font-secondary);
  color: var(--black-green);
  padding: 4px;
  border-radius: 5px;
}

/* overwriting materialize card styling */
.row .col.s4 {
  width: 30%;
  margin-left: 0%;
}

footer {
  position: absolute;
  width: 90%;
  bottom: 0;
  height: 60px;
}

.footer-text {
  font-size: 3rem;
  font-weight: bold;
  color: var(--spotify-green);
}

.footer-span {
  color: var(--off-white);
}

.everywhere {
  color: var(--spotify-green);
}

/* *MODAL STYLING */

.entire-modal {
  opacity: 0.7;
}

.modal-close {
  font-size: 1.3rem;
  background: var(--light-green);
  margin-right: 2rem;
}

.modal-texts {
  color: var(--error);
}

@media screen and (max-width: 600px) {
  #card-container {
    flex-direction: column;
  }

  /* TODO: Figure out how to override Materialize width and get card to take up whole row */
}
